.third {
    padding: 40px 0;
}

.third .top {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.third .top img {
    width: 48%;
}

.third .bottom img {
    width: 100%;
}

.third h3 {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2A2A28;
    padding: 30px;
}

.third p {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    color: #2A2A28;
    padding: 0 30px;
}