.second {
    padding: 40px 0;
}

.second .image img {
    width: 100%;
}

.second h3 {
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 30px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2A2A28;
    padding: 30px;
}

.second li {
    list-style: disc;
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    color: #2A2A28;
    margin: 0 50px;
}

.second .images {
    margin: 40px 0;
    display: flex;
    gap: 40px;
}

.second .images img {
    width: 48%;
}