.interseted{
    padding: 100px 0;
    background-color: #444444;
}
.interseted h2{
    font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}

.interseted p{
    font-family: Manrope;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 160%;
letter-spacing: 0%;
color: #FFFFFF  ;
margin: 40px 0;
}
.interseted a{
    font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 14px;
leading-trim: NONE;
line-height: 160%;
letter-spacing: 0%;
text-align: right;
color: #FFFFFF  ;
background-color: #2A2A28;
padding: 10px 20px;
border-radius: 5px;
}