.graduation{
    display: flex;
}
.graduation .left, .graduation .right{
    width: 50%;
}
.graduation  img{
    width: 100%;
    height: 100%;
}
.graduation .left{
    background-color: #2A2A28;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 5%;
}
.graduation h2{
    font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 50px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
margin-bottom: 30px;
}
.graduation p{
    font-family: Manrope;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 160%;
letter-spacing: 0%;
color: #F3F3F2;
}