.resumeBanner{
    padding: 75px 0;
}

.resumeBanner h1{
    font-family: Manrope;
font-weight: 400;
font-style: Regular;
font-size: 55px;
leading-trim: NONE;
line-height: 110.00000000000001%;
letter-spacing: 0%;
color: #2A2A28;
}

.resumeBanner p{
    font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 20px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0%;
color: #2A2A28;
margin: 30px 0;
}

.resumeBanner a{
 font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 160%;
    letter-spacing: 0%;
    color: #444444;
     padding: 10px 20px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    display: inline-block;
}