.banner {
    padding: 100px 0;
}

.banner img {
    width: 100px;
    height: 100px;
}

.banner h1 {
    font-family: Manrope;
    font-weight: 400;
    font-style: Regular;
    font-size: 55px;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: #2A2A28;
    margin: 20px 0;
}

.banner .icons{
    display: flex;
    gap: 40px;
}

.banner i{
    border: 1px solid #ebebeb;
    padding:10px 13px;
    border-radius: 50%;
}